<div class="stats-tab-body">
  <div class="stats-column stats-column-1">
    <div class="stats-area">
      <div class="title-line">
        {{localize "WYRDWOOD_WAND.Actor.Stats.attributes"}}
      </div>
      <div class="stats-area-main stats-attributes">
        <div class="attributes-item">
          <div class="attribute-name">{{localize "WYRDWOOD_WAND.Actor.Stats.agility"}}</div>
          <input class="edit-mode-input" name="system.agility" type="text" value="{{numberFormat system.agility sign=true}}" data-dtype="Number" disabled="disabled" />
        </div>
        <div class="attributes-item">
          <div class="attribute-name">{{localize "WYRDWOOD_WAND.Actor.Stats.focus"}}</div>
          <input class="edit-mode-input" name="system.focus" type="text" value="{{numberFormat system.focus sign=true}}" data-dtype="Number" disabled="disabled" />
        </div>
        <div class="attributes-item">
          <div class="attribute-name">{{localize "WYRDWOOD_WAND.Actor.Stats.strength"}}</div>
          <input class="edit-mode-input" name="system.strength" type="text" value="{{numberFormat system.strength sign=true}}" data-dtype="Number" disabled="disabled" />
        </div>
        <div class="attributes-item">
          <div class="attribute-name">{{localize "WYRDWOOD_WAND.Actor.Stats.evasion"}}</div>
          <div class="defense-stat">
            <input name="system.evasion" type="text" value="{{system.evasion}}" data-dtype="Number" disabled="disabled" />
          </div>
        </div>
        <div class="attributes-item">
          <div class="attribute-name">{{localize "WYRDWOOD_WAND.Actor.Stats.resolve"}}</div>
          <div class="defense-stat">
            <input name="system.resolve" type="text" value="{{system.resolve}}" data-dtype="Number" disabled="disabled" />
          </div>
        </div>
        <div class="attributes-item">
          <div class="attribute-name">{{localize "WYRDWOOD_WAND.Actor.Stats.tenacity"}}</div>
          <div class="defense-stat">
            <input name="system.tenacity" type="text" value="{{system.tenacity}}" data-dtype="Number" disabled="disabled" />
          </div>
        </div>
      </div>
    </div>
    <div class="stats-area">
      <div class="title-line">
        {{localize "WYRDWOOD_WAND.Actor.Stats.skills"}}
      </div>
      <div class="stats-area-main feature-list">
        {{#each skills as |skill id|}}
        <div class="feature-list-item">
          <input class="edit-mode-input" type="text" value="{{skill.name}}" disabled="disabled" />
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="stats-column stats-column-2">
    <div class="stats-area">
      <div class="title-line">
        {{localize "WYRDWOOD_WAND.Actor.Stats.paths"}}
      </div>
      <div class="stats-area-main feature-list">
        {{#each paths as |path id|}}
        {{> "systems/wyrdwood-wand/templates/actor/parts/actor-feature.hbs" path}}
        {{/each}}
      </div>
    </div>
    <div class="stats-area">
      <div class="title-line">
        {{localize "WYRDWOOD_WAND.Actor.Stats.talents"}}
      </div>
      <div class="stats-area-main feature-list">
        {{#each talents as |talent id|}}
        {{> "systems/wyrdwood-wand/templates/actor/parts/actor-feature.hbs" talent}}
        {{/each}}
      </div>
    </div>
  </div>
</div>