<div class="ability-tab-body">
  <div class="filter-line">
    <input class="search-bar" placeholder="{{localize "MISC.search"}}" />
    <div class="filter-line-right">
      <a class="ability-filter inactive" data-filter="quick">{{localize "WYRDWOOD_WAND.Item.Ability.ActionType.quick.short"}}</a>
      <a class="ability-filter inactive" data-filter="slow">{{localize "WYRDWOOD_WAND.Item.Ability.ActionType.slow.short"}}</a>
      <a class="ability-filter inactive" data-filter="free">{{localize "WYRDWOOD_WAND.Item.Ability.ActionType.freeAction.short"}}</a>
      <a class="ability-filter inactive" data-filter="ritual">{{localize "WYRDWOOD_WAND.Item.Ability.ActionType.ritual.short"}}</a>
    </div>
  </div>
  <div class="scroll-box">
{{> "systems/wyrdwood-wand/templates/actor/parts/actor-abilities-list.hbs" abilities=basicActions title=(localize "TYPES.Item.basicActions") id="basic"}}
{{> "systems/wyrdwood-wand/templates/actor/parts/actor-abilities-list.hbs" abilities=techniques title=(localize "TYPES.Item.techniques") id="techniques"}}
{{> "systems/wyrdwood-wand/templates/actor/parts/actor-abilities-list.hbs" abilities=rites title=(localize "TYPES.Item.rites") id="rites"}}
  </div>
</div>