<div class="ability-section">
  <div class="ability-section-title ability-section-row">
    <i class="fas fa-angle-right expand-arrow expanded"></i>
    <div class="ability-line-primary">{{title}}</div>
    <div class="ability-line-item" style="flex-basis: 4rem">{{localize "WYRDWOOD_WAND.Item.Ability.Attribute.limit"}}</div>
    <div class="ability-line-item" style="flex-basis: 4rem">{{localize "WYRDWOOD_WAND.Item.Ability.Attribute.target"}}</div>
    <div class="ability-line-item" style="flex-basis: 4rem">{{localize "WYRDWOOD_WAND.Item.Ability.Attribute.range"}}</div>
    <div class="ability-line-item" style="flex-basis: 4rem">{{localize "WYRDWOOD_WAND.Item.Ability.Attribute.actionType"}}</div>
  </div>
  <div class="ability-collapsible">
    <div class="ability-collapsible-wrapper expanded" data-id="{{id}}">
      {{#each abilities as |ability|}}
      <div class="ability-section-item ability-section-row">
        <div class="ability-line-primary">{{ability.name}}</div>
        <div class="ability-line-item" style="flex-basis: 4rem">{{ability.limit}}</div>
        <div class="ability-line-item" style="flex-basis: 4rem">{{ability.target}}</div>
        <div class="ability-line-item" style="flex-basis: 4rem">{{ability.range}}</div>
        <div class="ability-line-item" style="flex-basis: 4rem">{{ability.actionType}}</div>
      </div>
      {{/each}}
    </div>
  </div>
</div>