<form class="actor-sheet" autocomplete="off">
  <div class="sidebar">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    <div class="bar health-empty" title="{{localize "WW.Actor.health"}}">
      <div class="bar-fill health-full" style="width: calc(100% * {{system.health.value}} / {{system.health.max}})"></div>
      <span class="bar-text">
        <input class="left-input" name="system.health.value" type="text" value="{{system.health.value}}" data-dtype="Number" />
        <div class="bar-slash">/</div>
        <input class="right-input edit-mode-input" name="system.health.max" type="text" value="{{system.health.max}}" data-dtype="Number" disabled="disabled" />
      </span>
    </div>
    <div class="bar destiny-empty" title="{{localize "WW.Actor.destiny"}}">
      <div class="bar-fill destiny-full" style="width: calc(100% * {{system.destiny.value}} / {{system.destiny.max}}"></div>
      <span class="bar-text">
        <input class="left-input" name="system.destiny.value" type="text" value="{{system.destiny.value}}" data-dtype="Number" />
        <div class="bar-slash">/</div>
        <input class="right-input edit-mode-input" name="system.destiny.max" type="text" value="{{system.destiny.max}}" data-dtype="Number" disabled="disabled" />
      </span>
    </div>
    <div class="bar aether-empty" title="{{localize "WW.Actor.aether"}}">
      <div class="bar-fill aether-full" style="width: calc(100% * {{system.aether.value}} / {{system.aether.max}}"></div>
      <span class="bar-text">
        <input class="left-input" name="system.aether.value" type="text" value="{{system.aether.value}}" data-dtype="Number" />
        <div class="bar-slash">/</div>
        <input class="right-input edit-mode-input" name="system.aether.max" type="text" value="{{system.aether.max}}" data-dtype="Number" disabled="disabled" />
      </span>
    </div>
  </div>
  <div class="content">
    <div class="header-area">
      <input class="character-name edit-mode-input" name="name" type="text" value="{{actor.name}}" placeholder="{{localize "MISC.name"}}" />
      <div class="character-undername">
        <div class="character-info">
          <div class="line-1">
            <span>{{localize "WW.Actor.level"}} {{system.level}}</span>
            <label class="input-sizer" data-default-value="{{localize "WW.Actor.role"}}">
              <input class="edit-mode-input input-sizer-input" name="system.role" type="text" value="{{system.role}}" placeholder="{{localize "WW.Actor.role"}}" size="2" onInput="this.parentNode.dataset.value = this.value" />
            </label>
          </div>
          <div class="line-2">
            <label class="input-sizer" data-default-value="{{localize "WW.Actor.background"}} 1">
              <input class="edit-mode-input input-sizer-input" name="system.background1" type="text" value="{{system.background1}}" placeholder="{{localize "WW.Actor.background"}} 1" size="2" onInput="this.parentNode.dataset.value = this.value" />
            </label>
            <span>|</span>
            <label class="input-sizer" data-default-value="{{localize "WW.Actor.background"}} 2">
              <input class="edit-mode-input input-sizer-input" name="system.background2" type="text" value="{{system.background2}}" placeholder="{{localize "WW.Actor.background"}} 2" size="2" onInput="this.parentNode.dataset.value = this.value" />
            </label>
          </div>
        </div>
      </div>
    </div>
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="stats">{{localize "WW.Actor.stats"}}</a>
      <a class="item" data-tab="abilities">{{localize "WW.Actor.abilities"}}</a>
      <a class="item" data-tab="equipment">{{localize "WW.Actor.equipment"}}</a>
      <a class="item" data-tab="effects">{{localize "WW.Actor.effects"}}</a>
      <a class="item" data-tab="biography">{{localize "WW.Actor.biography"}}</a>
    </nav>
    <section class="sheet-body">

      <div class="tab stats" data-group="primary" data-tab="stats">
{{> "systems/wyrdwood-wand/templates/actor/parts/actor-stats.hbs"}}
      </div>

      <div class="tab abilities" data-group="primary" data-tab="abilities">
{{> "systems/wyrdwood-wand/templates/actor/parts/actor-abilities.hbs"}}
      </div>

      <div class="tab equipment" data-group="primary" data-tab="equipment">
{{> "systems/wyrdwood-wand/templates/actor/parts/actor-equipment.hbs"}}
      </div>

      <div class="tab effects" data-group="primary" data-tab="effects">
{{> "systems/wyrdwood-wand/templates/actor/parts/actor-effects.hbs"}}
      </div>

      <div class="tab biography" data-group="primary" data-tab="biography">
{{> "systems/wyrdwood-wand/templates/actor/parts/actor-biography.hbs"}}
      </div>

    </section>
  </div>
</form>
