<div class="item item-card ability-sheet collapsible-parent {{system.actionType}}" data-item-id="{{_id}}" data-ability-index="{{@index}}">
  <div class="header-bar header hidden-content-title hover-reveal-parent">
    <div class="ability-header-left-side">
      <div>
        {{name}}
      </div>
      {{#if inSheet}}<a class="fas fa-comment rollable hover-reveal-content" title="{{localize "MISC.sendToChat"}}" data-roll-type="item"></a>{{/if}}
    </div>
    <div class="ability-header-right-side">
      <div class="action-type-normal">
        {{#if system.aetherCost}}
          1 {{localize "WW.Actor.aether"}} •
        {{/if}}
        {{localize (concat "WW.Item.Ability.ActionType." system.actionType ".long")}}
      </div>
      <div class="actor-edit-buttons edit-mode-only">
        <a class="fas fa-arrow-up ability-up" title="{{localize "MISC.moveUp"}}"></a>
        <a class="fas fa-arrow-down ability-down" title="{{localize "MISC.moveDown"}}"></a>
        <a class="fas fa-edit ability-edit" title="{{localize "MISC.edit"}}"></a>
        <a class="fas fa-trash ability-delete" title="{{localize "MISC.delete"}}"></a>
      </div>
    </div>
  </div>
  <div class="ability-hidden-toggle" data-id="{{id}}">
    <div class="flavor ability-section tertiary">
      {{#if system.flavorDescription}}
        <div class="view-box">
          {{system.flavorDescription}}
        </div>
      {{/if}}
    </div>
    <div class="main-stats-view block-display primary">
      <div class="overflow-cutoff">
          {{#if system.target}}
            <span class="view-box">
              <b class="view-prefix">{{localize "WW.Item.Ability.Attribute.target"}}:</b>
              {{system.target}}
            </span>
          {{/if}}
          {{#if system.range}}
            <span class="view-box">
              <b class="view-prefix">{{localize "WW.Item.Ability.Attribute.range"}}:</b>
              {{system.range}}
            </span>
          {{/if}}
          {{#if (notEqual system.attackVs 'none')}}
            <span class="view-box">
              <b class="view-prefix">{{localize "WW.Item.Ability.Attribute.attack"}}</b>
              {{localize (concat "WW.Actor.AttackVS." system.attackVs)}}
            </span>
          {{/if}}
      </div>
    </div>
    <div class="extra-sections">
      {{#each system.sections as |section|}}
        <div class="ability-section {{section.background}}" data-index="{{@index}}">
          <div class="view-box block-display">
            {{{section.displayContent}}}
          </div>
        </div>
      {{/each}}
    </div>
    <div class="footer-bar footer item-card-footer">
      <div>
        {{system.footerLeftText}}
      </div>
      <div>
        {{system.footerRightText}} 
      </div>
    </div>
  </div>
</div>