<form class="ability-sheet {{system.actionType}}" autocomplete="off">
  <div class="sheet-wrapper">
    <div class="header-bar header">
      <div class="input-sizer" data-default-value="Name">
        <input class="name input-sizer-input edit-mode-input" name="name" type="text" value="{{item.name}}" placeholder="Name" disabled="disabled" />
      </div>
      <div class="edit-mode-only">
        <div class="aether-check">
          <input id="aether" name="system.aetherCost" type="checkbox" {{checked system.aetherCost}} />
          <label for="aether">Aether</label>
        </div>
        <select name="system.actionType">
          {{selectOptions config.actionTypes selected=system.actionType localize=true}}
        </select>
      </div>
      <div class="action-type-normal normal-mode-only">
        {{#if system.aetherCost}}
          1 Aether •
        {{/if}}
        {{localize (concat "WYRDWOOD_WAND.Item.Ability.ActionType." system.actionType ".long")}}
      </div>
    </div>
    <div class="flavor ability-section tertiary">
      <div class="textarea-box edit-mode-only">
        <div class="input-sizer full-width">
          <textarea class="input-sizer-input" name="system.flavorDescription" type="text" rows="1" placeholder="{{localize "WYRDWOOD_WAND.Item.Ability.Attribute.flavor"}}">{{system.flavorDescription}}</textarea>
        </div>
      </div>
      {{#if system.flavorDescription}}
        <div class="view-box normal-mode-only">
          {{system.flavorDescription}}
        </div>
      {{/if}}
    </div>
    <div class="main-stats-edit edit-mode-only">
      <div class="ability-section primary">
        <div class="input-box">
          <b class="edit-prefix">{{localize "WYRDWOOD_WAND.Item.Ability.Attribute.target"}}:</b>
          <div class="input-sizer">
            <input class="input-sizer-input" name="system.target" type="text" value="{{system.target}}" />
          </div>
        </div>
      </div>
      <div class="ability-section primary">
        <div class="input-box">
          <b class="edit-prefix">{{localize "WYRDWOOD_WAND.Item.Ability.Attribute.range"}}:</b>
          <div class="input-sizer" data-default-value="0">
            <input class="input-sizer-input" name="system.range" type="text" value="{{#if system.range}}{{system.range}}{{/if}}" placeholder="--" size="1" data-dtype="number"/>
          </div>
          <span>{{#if (equal system.range 1)}}{{localize "MISC.meter"}}{{else}}{{localize "MISC.meters"}}{{/if}}</span>
        </div>
      </div>
      <div class="ability-section primary">
        <div class="input-box">
          <b class="edit-prefix">{{localize "WYRDWOOD_WAND.Item.Ability.Attribute.attack"}}</b>
          <select name="system.attackVs">
            {{selectOptions config.attackVersus selected=system.attackVs localize=true}}
          </select>
        </div>
      </div>
    </div>
    <div class="main-stats-view normal-mode-only block-display primary">
      <div class="overflow-cutoff">
        <span>
          {{#if system.target}}
            <span class="view-box">
              <b class="view-prefix">{{localize "WYRDWOOD_WAND.Item.Ability.Attribute.target"}}:</b>
              {{system.target}}
            </span>
          {{/if}}
        </span>
        <span>
          {{#if system.range}}
            <span class="view-box">
              <b class="view-prefix">{{localize "WYRDWOOD_WAND.Item.Ability.Attribute.range"}}:</b>
              {{system.range}}
              <span class="view-postfix">{{#if (equal system.range 1)}}{{localize "MISC.meter"}}{{else}}{{localize "MISC.meters"}}{{/if}}</span>
            </span>
          {{/if}}
        </span>
        <span>
          {{#if (notEqual system.attackVs 'none')}}
            <span class="view-box">
              <b class="view-prefix">{{localize "WYRDWOOD_WAND.Item.Ability.Attribute.attack"}}</b>
              {{localize (concat "WYRDWOOD_WAND.Actor.AttackVS." system.attackVs)}}
            </span>
          {{/if}}
        </span>
      </div>
    </div>
    <div class="extra-sections">
      {{#each system.sections as |section|}}
        <div class="ability-section {{section.background}}" data-index="{{@index}}">
          <div class="textarea-box edit-mode-only">
            <div class="input-sizer full-width">
              <textarea class="input-sizer-input ability-section-update" type="text" rows="2">{{section.editContent}}</textarea>
            </div>
            <div class="ability-section-options">
              <a class="fas fa-arrow-up ability-section-up" title="Move Up"></a>
              <div class="color-select">
                <button class="dropdown-button" title="Background Color"></button>
                <div class="dropdown-content hidden">
                  <a class="blank">Blank</a>
                  <a class="header">Header</a>
                  <a class="primary">Primary</a>
                  <a class="secondary">Secondary</a>
                  <a class="tertiary">Tertiary</a>
                  <a class="footer">Footer</a>
                </div>
              </div>
              <a class="fas fa-arrow-down ability-section-down" title="Move Down"></a>
              <a class="fas fa-trash delete-section" title="Delete Section"></a>
            </div>
          </div>
          <div class="view-box normal-mode-only block-display">
            {{{section.displayContent}}}
          </div>
        </div>
      {{/each}}
    </div>
    <button class="add-section-button edit-mode-only">{{localize "WYRDWOOD_WAND.Item.Ability.addSection"}}</button>
    
    <div class="footer-bar footer">
      <div class="input-sizer">
        <input class="input-sizer-input edit-mode-input" name="system.footerLeftText" type="text" value="{{system.footerLeftText}}" placeholder="Footer Text" disabled="disabled" />
      </div>
      <div class="input-sizer right-justify">
        <input class="input-sizer-input edit-mode-input" name="system.footerRightText" type="text" value="{{system.footerRightText}}" placeholder="Footer Text" disabled="disabled" />
      </div>
    </div>
  </div>
</form>
